.flashcard {
  position: relative;
  width: 1000px;
  min-height: 200px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  overflow: hidden;
  font-family: Consolas, Monaco, monospace;
  transition: background-color 0.5s ease;
}

.flashcard.easy {
  background-color: green;
}

.flashcard.medium {
  background-color: yellow;
}

.flashcard.hard {
  background-color: red;
}

.flashcard:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
  
  .flashcard.show-answer .flashcard-content .flashcard-solution {
    display: block;
  }
  
  .flashcard-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
  }
  
  .flashcard-content .flashcard-problem {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color:black;
  }
  
  .flashcard-content .flashcard-solution {
    font-size: 18px;
    font-weight: normal;
    display: none;
    text-align: center;
    color: black;
  }
  
  .flashcard-content .flashcard-click-to-reveal {
    font-size: 12px;
    font-weight: normal;
    margin-top: 10px;
    text-align: center;
  }

